.header{
    border-top: 1px solid black;
    padding: 1em 0.5em;
}

nav{

    border-bottom: 1px solid black;
}

.logoContainer{
	display: flex;
	justify-content: space-around;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 60px;
	font-size: 2.3em;
	font-family: 'Bangers', cursive;
	// background-color: black;
	// color: white;
	border-radius: 50%;
	padding: 5px;
	border: 1px solid black;
	// font-style: italic;
}

.navbar{
	margin: 2em auto;
	width: 60vw;
	display: flex;
	justify-content: space-around;
}

.navbar > a {
	font-family: 'Kavivanar', cursive;
	text-decoration: none;
}

// .hiddenLogo{
//     transition: width 1.5s linear;
//     animation-delay: 0s;
//     animation-fill-mode: forwards;
// }

// nav {
//     display: inline-flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
// 	overflow: hidden;
//     font-family: inherit;
// 	// a {
// 	// 	color: #FFF;
// 	// }

// 	// a:visited {
// 	// 	color: #FFF;
// 	// }

// 	.navWide {
// 		display: none;
// 		// margin: 0 auto;

// 		.wideDiv {
// 			text-align: center;
//             height: 100%;
// 			a {
// 				text-decoration: none;
// 				display: inline-block;
// 				// Adjust padding to increase/decrease the space between links.
// 				padding-left: 1em;
// 			}
// 		}
// 	}

// 	// Navbar is set to default with the "hamburger" and links on the left
// 	// side of the screen. To move to the right of the screen, simply
// 	// change the three "float: Left;" references to read "float: right;".
// 	.navNarrow {

// 		i {
// 			float: left;
// 			cursor: pointer;
// 			// color: #FFF;
// 		}

// 		.narrowLinks {
// 			display: none;

// 			a {
// 				text-decoration: none;
// 				display: block;
// 				float: left;
// 				clear: left;
// 				padding: 0.5em 0;
// 			}
// 		}
// 	}
// }

// // Adjust breakpoint as desired to select when the "hamburger" menu is
// // replaced by just the links.
// @media (min-width: 480px) {

// 	nav {

// 		.navWide {
// 			display: block;
// 		}

// 		.navNarrow {
// 			display: none;
// 		}
// 	}
// }