.navbarItems{
	margin: auto 3em;
	// width: 60vw;

	display: flex;
	justify-content: flex-end;
	// background-color: yellowgreen;
  -webkit-transition: background-color 2s ease-in; /* Safari */
          transition: background-color 2s ease-in;
  -webkit-transition-delay: 2s; /* Safari */
          transition-delay: 2s;
}

.navbarItems > div, .navbarItemsMobile > div {
	font-family: 'Kavivanar', cursive;
	text-decoration: none;
	padding: 1em 1em;
	font-size: large;
	text-transform: uppercase;
	cursor: pointer;
}

.navbarItemsMobile {
	display: none;
	margin: 1em;
}

.menuButton{
	display: none;
	align-items: flex-start;
}

.mobileMenuContainer{
	display: flex;
	justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
	.navbarItems, .navbar {
	  flex-direction: column;
	}
	.navbarItems {
	  display: none;
	}
	.menuButton{
		display: inline-flex;
		justify-content: flex-end;
		cursor: pointer;
		margin: 1em;
		float: right;
	}
	.navbarItemsMobile {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}