.navbarItems{
	margin: auto 3em;
	// width: 60vw;

	display: flex;
	justify-content: flex-end;
	// background-color: yellowgreen;
}

.navbarItems > div, .navbarItemsMobileOut > div, .navbarItemsMobileIn > div {
	font-family: 'Kavivanar', cursive;
	text-decoration: none;
	margin: 1em 1em;
	font-size: large;
	text-transform: uppercase;
	cursor: pointer;
}

.navbarItemsMobileOut, .navbarItemsMobileIn {
	display: none;
	position: absolute;
	right: 130px;
	margin: 1em;
	// height: 180px;
}

.navbarItemsMobileIn {
	width: 0;
	animation-name: menuSlideOut;
    animation-duration: 0.5s;
}

.navbarItemsMobileOut {
	width: 33px;
	animation-name: menuSlideIn;
    animation-duration: 0.5s;
}

@keyframes menuSlideIn {
    from {width: 0; opacity: 0}
  	to {width: 33px; opacity: 1}
}

@keyframes menuSlideOut {
    from {width: 33px; opacity: 1;}
  	to {width: 0; opacity: 0;}
}


.menuButton{
	display: none;
	align-items: flex-start;
}

.mobileMenuContainer{
	display: flex;
	justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
	.navbarItems, .navbar {
	  flex-direction: column;
	}
	.navbarItems {
	  display: none;
	}
	.menuButton{
		display: inline-flex;
		justify-content: flex-end;
		cursor: pointer;
		margin: 1em;
		float: right;
	}
	.navbarItemsMobileOut, .navbarItemsMobileIn {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}