header{
    background: url('../../../public/images/background1.jpg') center/cover no-repeat;
    min-height: 100vh;
    // display: flex;
}

.introText{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kavivanar', cursive;
    font-size: xx-large;
}

.introText > h1, .introText > h3{
    margin: 0;
}

.icons{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.downArrow{
    height: 20vh;
    display: flex;
    align-items: flex-end;
}

.downArrow > img{
    margin: 0 auto;
}