header{
    background: url('../../../public/images/background1.jpg') center/cover no-repeat;
    height: 100vh;
    // display: flex;
}

.introText{
    // padding-top: 10vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kavivanar', cursive;
    font-size: xx-large;
}

.introText > h1, .introText > h3{
    margin: 0;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0.5em;
}

.downArrow{
    position:absolute;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
    text-align: center;
}