.introText{
    font-family: 'Impact', sans-serif;
    font-size: 10em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    // padding: .5em .75em;
    text-align: left;
    text-transform: uppercase;

    /* if we can clip, do it */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    /* what will show through the text
        ~ or ~
        what will be the background of that element */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWAI3vCS9QLkc-UA3bs1lUxQekF85hXmdhYqbcKw3izgkoV-XfzQ');

    /* fallback text color
        ~ or ~
        the actual color of text, so it better work on the background */
    color: red;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
//   background-position: 40% 40%;
}

// .introText, .introText:before {
//     background-repeat: no-repeat;
//     -webkit-background-size: auto;
//             background-size: auto;
//   background-position: 50% 50%;
// }

.secondRow{
    // padding-left: 124px;
}

// .logo{
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     height: 60px;
//     width: 60px;
//     font-size: xx-large;
//     font-family: 'Nothing You Could Do', cursive;
//     background-color: black;
//     color: white;
//     border-radius: 50%;
//     padding: 5px;
// }